<h1>Weather forecast</h1>

<p>This component demonstrates fetching data from the server.</p>

<p *ngIf="!renderModels"><em>Loading...</em></p>

<table class='table table-striped' *ngIf="renderModels">
  <thead>
    <tr>
      <th>Identity</th>
      <th>Name</th>
      <th>Offset</th>
      <th>Data</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let render of renderModels">
      <td>{{ render.identity }}</td>
      <td>{{ render.name }}</td>
      <td>{{ render.offset }}</td>
      <td>{{ render.data }}</td>
    </tr>
  </tbody>
</table>
